.info-1{
    font-size: 10px;
    background-color: var(--grey_border);
    border-radius: 10px;
    width: 175px;
    height: 63px;
    align-content: center;
    justify-items: center;
}

.info-2{
    font-size: 10px;
    width: 111px;
    height: 32px;
    text-align: center;
    justify-items: center;
    background-color: #029491;
}