.Search-title{
    margin-top: 100px;
    width: 800px;
    padding: 20px
}
.Search-title h1{
    font-family: FERRY, Helvetica, sans-serif;
    font-size: 40px;
}
.Search-title p{
    font-family: inter, Helvetica, sans-serif;
    font-size: 20px;
    width: 400px;
    padding: 0;
    margin: 0;
}

.Search-block{
    font-family: inter, Helvetica, sans-serif;
    font-size: 18px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2.5fr 1fr;
    width: 872px;
    height: 543px;
    margin:20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow:
            20px 20px 20px var(--grey_border),
            -20px -20px 20px var(--grey_border),
            20px -20px 20px var(--grey_border),
            -20px 20px 20px var(--grey_border);
}

.Search-block1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.Search-block1 div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Search-block1 div input{
    width: 242px;
    height: 43px;
    border-radius: 7px;
    border: 2px solid var(--grey_border);
    padding:  0 10px;
    font-size: 18px;
}
.selectBlock1{
    width: 265px;
    height: 43px;
    border-radius: 7px;
    border: 2px solid var(--grey_border);
    padding:  0 10px;
    font-size: 18px;
}

.Search-block1 form{
    display: flex;
    flex-direction: column;
}
.Search-block1 form input{
    margin-top: 30px;
}


.label {
    color: var(--grey);
}
.checkbox {
    width: 20px;
    height: 20px;
    accent-color: #04aa6a;
    /*outline: black solid 1px;*/
}
.checkbox[type="checkbox"]:checked+span{
    color: var(--black);
}

.Search-block2 {
    margin-top: 10px
}
.Search-block2-1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.selectBlock2 {
    width: 176px;
    height: 43px;
    border-radius: 7px;
    border: 2px solid var(--grey_border);
    padding:  0 10px;
    font-size: 18px;
    margin-right: 20px;
}
.Search-block2-1 button{
    width: 305px;
    height: 59px;
    border-radius: 7px;
    border: none;
    background-color: var(--btn);
    font-size: 22px;
    color: var(--white);
}
.Search-block2-1 p{
    color: var(--grey);
}

.Search-block2-2 {
    text-align: end;
    margin-right: 20px;
}

@media  (max-width: 700px) {
    .Search {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Search-title {
        padding: 20px;
        margin: 0;
        width: 500px;
        text-align: left;
    }
    .Search-title h1{
        font-size: 28px;
        width: 400px;
    }
    .Search-title p{
        font-size: 18px;
        width: 250px;
    }
    .Search-block{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        width: 375px;
        height: 688px;
    }
    .Search-block1 form{
      display: none;
    }
    .Search-block1 {
        padding-left: 15px
    }
    .Search-block1 div input{
        width: 310px;
        height: 43px;
    }
    .selectBlock1{
        width: 335px;
        height: 43px;
    }
    .selectBlock2 {
        width: 335px;
        height: 43px;
        margin: 15px 0;
    }
    .Search-block2 {
        padding: 0 15px;
    }
    .Search-block2-1 {
        text-align: start;

    }
    .Search-block2-2 p {
        text-align: start;
    }
    .Search-block2-1 button{
        width: 335px;
        height: 59px;
    }
}