.Search-title{
    margin-top: 100px;
    width: 800px;
    padding: 20px
}
.Search-title h1{
    font-family: FERRY, Helvetica, sans-serif;
    font-size: 40px;
}
.Search-title p{
    font-family: inter, Helvetica, sans-serif;
    font-size: 20px;
    width: 400px;
    padding: 0;
    margin: 0;
}
.Search-block{
    font-family: inter, Helvetica, sans-serif;
    font-size: 18px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2.5fr 1fr;
    width: 872px;
    height: 543px;
    margin:20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow:
            20px 20px 20px var(--grey_border),
            -20px -20px 20px var(--grey_border),
            20px -20px 20px var(--grey_border),
            -20px 20px 20px var(--grey_border);
}
.Search-block1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.Search-block2 {
    margin-top: 10px
}
.Search-block2-1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    color: var(--grey);
}
.SearchButton {
    text-align: end;
    margin-right: 30px;
}
.SearchButton button{
    width: 305px;
    height: 59px;
    border-radius: 7px;
    border: none;
    background-color: var(--btn);
    font-size: 22px;
    color: var(--white);
}
.SearchButton button:hover {
    color: var(--grey);
    border: 2px solid var(--grey);
}
.SearchButton button:active {
    background-color: var(--btn);
}
@media  (max-width: 700px) {
    .Search {
        display: flex;
        flex-direction: column;
    }
    .Search-title {
        padding: 20px;
        margin: 0;
        width: 500px;
        text-align: left;
    }
    .Search-title h1{
        font-size: 28px;
        width: 400px;
    }
    .Search-title p{
        font-size: 18px;
        width: 250px;
    }
    .Search-block{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        width: 375px;
        height: 688px;
    }
    .Search-block1 {
        padding-left: 15px
    }
    .Search-block2 {
        padding: 0 15px;
    }
    .Search-block2-1 {
        text-align: start;
    }
    .SearchButton p {
        text-align: left;
    }
    .SearchButton button{
        width: 335px;
        height: 59px;
    }
}